@font-face {
  font-family: 'Agency FB Thin';
  src: local('Agency FB'), url(../fonts/AgencyFB-Bold.ttf) format('truetype');
}

h1 {
  font-family: Agency FB, Agency FB Thin, sans-serif;
  color: #080808;
  text-transform: uppercase;
}

h2, h3 {
  font-family: Agency FB, Agency FB Thin, sans-serif;
  color: #010101;
}