.skills {
  flex-direction: column;
  text-align: center;

  &__row-one, &__row-two, &__row-three {
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  &__row-one i, &__row-two i, &__row-three i {
    font-size: 3rem;
    margin: 0px 15px;
  }
}