.skills {
  min-height: 600px;

  &__row-one, &__row-two, &__row-three {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
    animation: fadeIn;
    animation-duration: 1s;
    animation-iteration-count: 1;
  }

  &__row-one i, &__row-two i, &__row-three i {
    font-size: clamp(2rem, 0.9412rem + 2.9412vw, 3rem);
    margin: 0px 10px;
  }

  &__description {
    font-size: clamp(1rem, 0.5765rem + 1.1765vw, 1.4rem);
  }

  &__heading {
    animation: fadeIn;
    animation-duration: 1s;
    animation-iteration-count: 1;
  }
}

@keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
}